{% extends 'layouts/main.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


  <div class="row"><h5>Vehicle ID: {{ vehicle.id }}</h5></div>
      
  <div class="row desc">

      <div>
          <div class="label">Start time</div>
          <div>{{ vehicle.last_checkin }}  </div>
      </div>
      <div></div>
      <div>
          <div class="label">Longitude</div> 
          <div>{{ vehicle.last_longitude }}  </div>
      </div> 
      <div>
          <div class="label">Latitude</div> 
          <div>{{ vehicle.last_latitude }}  </div>
      </div> 
      <div>
          <div class="label">Battery</div> 
          <div>{{ vehicle.battery }} %</div>
      </div> 
  </div>
  <div class="row desc"><br/></div>

  <div class="row align-items-center">
      <a class="list-group-item">
          <p>When you're finished riding, please input the following and end your ride:</p>
            {{ wtf.quick_form(form, method="post") }}
      </a>
  </div>
{% endblock %}
