{% extends 'layouts/main.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <p class="text-center">This is the Server Status page.</p>
    <p class="text-center">It will confirm that MovR is connected to the database properly.</p>
    <p class="text-center">Connected to host: <b><code>{{ host }}</code></b>. </p>
    <p class="text-center">App connected with SQL user: <b><code>{{ sql_user }}</code></b>.</p>
    <p class="text-center">Using database: <b><code>{{ database }}</code></b>.</p>
    </div>
    <div class="container">
        <p>Tables in Database <code>{{ database }}</code>:</p>
    </div>
    {% for table in tables %}
        <div class = "container">
            <div class="row align-items-center">
                <a class="list-group-item">
                    <div class="col-md" style="display: inline-block;">
                        <p><bf ><b>{{ table }}</b></bf></p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
